body{
  margin: 0;
  padding: 0;
  background-image: aliceblue;
}
.header{
  background-color: black;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 70px;
  width: 100vw;
  height: 70px;
}
.contents-row{
  font-size: 30px;
  text-align: center;
}