.field{
  margin: 5px auto;
  
}
label{
  background-color: snow;
  border-radius: 5px;
  width: 500px;
  height: 70px;
  font-size: 20px;
  border-top: 10px;
  border-left: 10px;
  border-color: black;
}
.actions {
  margin-top: 100px;
}
